{% extends 'base.html' %}
{% block content %}

  <h3>Filter Journals</h3>
      <form method="GET" action=".">
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="title_contains" placeholder="Title contains..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>
      </form>  
  
	<div class="container-fluid bg-light">
		{% for platba in platba_qs %}
		    <div class="row">
		    	<div class="col-8 border bg-success text-white">
		            <a href={% url "platba_detail" platba.id %}> Příjmení člena: {{ platba.datum|date:'F' }} {{platba.objem}} {{platba.zprava_pro_prijemce}}  {{platba.nazev_protiuctu}}</a>
		        </div>
		        <div class="col-2 border bg-success bg-warning">
		            Ctvrtina
		        </div>
		        <div class="col-2 border bg-success bg-warning">
		            Ctvrtina
		        </div>
		        
		    </div>

		{% endfor %}
	</div>
{% endblock %}


