{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="form_group">
        <h3>Fieldy</h3>


   <div class="container-fluid bg-light">
        <div class="row">
            <div class="col-3 border bg-warning">
                <table>
                <tr>    
                <td>
                {% for field in form %}      
                     <tr> <th> {{ field.label}} </th> <th> {{field.value}}</th> <span class="glyphicon glyphicon-erase"></span>
                     </tr>
                {% endfor %} 
                </td>        
                </tr>
                </table>

            </div>
            <div class="col-7 border bg-success text-white">
                Ctvrtina
            </div>
            
        </div>
    </div>



        <form method="post">
            {% csrf_token %}
            {# <table>{{ form.as_table }}</table> #}<table>
            <table>{{ form.name_of_field }}</table>
            {% if user.is_admin %}
                <button name="edit_platba">Upravit platbu</button>
                <button name="delete_plaba">Smazat platbu</button>
            {% endif %}     
            </table>
        </form>
    </div>
{% endblock %}